<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app" class="ng-app:app">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="shortcut icon" type="image/x-icon" href="http://metroui.org.ua/favicon.ico">

		<title>南屏科技工业园党群服务中心</title>

		<link href="css/metro.css" rel="stylesheet">
		<link href="css/metro-icons.css" rel="stylesheet">
		<link href="css/metro-responsive.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		
		<script charset="utf-8" src="/ueditor/ueditor.config.js"></script>
		<script charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
		<script src="lib/jquery.js"></script>
		<script src="lib/jquery.dataTables.min.js"></script>
		<script src="lib/metro.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/common.js"></script>
		<script src="lib/app.js"></script>
		<script src="js/factory.js"></script>
		<script src="js/base.js"></script>

	</head>

	<body class="bg-steel" ng-controller="BaseController">
		<div ng-include="'/template/header.html'"></div>

		<div class="page-content">
			<div class="flex-grid no-responsive-future" style="height: 100%;">
				<div class="row" style="height: 100%">
					<div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
						<ul class="sidebar">
							<li ng-repeat="s in sliders" ng-click="SelectSlider(s.id)" class="{{s.active?'active':''}}">
								<a href="{{s.url}}">
									<span class="title">{{s.name}}</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="cell auto-size padding20 bg-white" id="cell-content">
						<h1 class="text-light">{{selectedSlider.name}}</h1>
						<hr class="thin bg-grayLighter">
						<button class="button info" style="background-color: #ccc; border-color: #ccc;" ng-click="Return()">返回</button>
						<button class="button success" ng-click="Save()">保存</button>
						<hr class="thin bg-grayLighter">

						<div class="input-control modern text" style="width: 45%;">
							<input type="text" maxlength="26" ng-model="news.title" placeholder="请输入文章标题">
							<span class="label">文章标题</span>
							<span class="informer">最长不超过26个汉字</span>
							<span class="placeholder"></span>
						</div>

						<div class="input-control modern text" style="width: 45%; float: right;">
							<input type="text" maxlength="100" ng-model="news.footer" placeholder="请输入人名">
							<span class="label">人名</span>
							<span class="informer">最长不超过100个字符</span>
							<span class="placeholder"></span>
						</div>

						<br />
						<br />
						图1
						<div class="input-control file" data-role="input">
							<input type="file" id="file">
							<button class="button"><span class="mif-folder"></span></button>
						</div>
						<span>
							<img width="34" height="34" ng-src='/api/news/image/{{news.image}}' />
						</span>
						图2
						<div class="input-control file" data-role="input">
							<input type="file" id="file1">
							<button class="button"><span class="mif-folder"></span></button>
						</div>
						<span>
							<img width="34" height="34" ng-src='/api/news/image/{{news.image1}}' />
						</span>
						图3
						<div class="input-control file" data-role="input">
							<input type="file" id="file2">
							<button class="button"><span class="mif-folder"></span></button>
						</div>
						<span>
							<img width="34" height="34" ng-src='/api/news/image/{{news.image1}}' />
						</span>
						
						<form method="post" id="frm" name="frm">
							<div style="height: 530px;">
								<script id="editor" name="content" type="text/plain" style="width: 900px;"></script>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		
		<script>
			var ue = UE.getEditor('editor');
		</script>
	</body>

</html>