<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app" class="ng-app:app">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="shortcut icon" type="image/x-icon" href="http://metroui.org.ua/favicon.ico">

		<title>用户登录</title>

		<link href="css/metro.css" rel="stylesheet">
		<link href="css/metro-icons.css" rel="stylesheet">
		<link href="css/metro-responsive.css" rel="stylesheet">

		<script src="lib/jquery.js"></script>
		<script src="lib/metro.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/common.js"></script>
		<script src="lib/app.js"></script>
		<script src="js/factory.js"></script>
		<script src="js/login.js"></script>

		<style>
			.login-form {
				width: 25rem;
				height: 18.75rem;
				position: fixed;
				top: 50%;
				margin-top: -9.375rem;
				left: 50%;
				margin-left: -12.5rem;
				background-color: #ffffff;
				opacity: 0;
				-webkit-transform: scale(.8);
				transform: scale(.8);
			}
		</style>

	</head>

	<body class="bg-darkTeal" ng-controller="LoginController">
		<div class="login-form padding20 block-shadow" style="opacity: 1; transform: scale(1); transition: 0.5s;">
			<h1 class="text-light">登录</h1>
			<hr class="thin">
			<br>
			<div class="input-control text full-size" data-role="input">
				<label for="user_login">帐号:</label>
				<input type="text" style="padding-right: 33px;" ng-model="user.name">
				<button class="button helper-button clear"><span class="mif-cross"></span></button>
			</div>
			<br>
			<br>
			<div class="input-control password full-size" data-role="input">
				<label for="user_password">密码:</label>
				<input type="password" style="padding-right: 33px;" ng-model="user.password">
				<button class="button helper-button reveal"><span class="mif-looks"></span></button>
			</div>
			<br>
			<br>
			<div class="form-actions">
				<button class="button primary" ng-click="Login()">登录</button>
			</div>
		</div>

	</body>

</html>